body {
      font-family: sans-serif;
}
.header{
  height: 50px;
  width: 2000px;
  background-color: hsl(0, 0%, 20%);
}
li {
float: left;
width: 200px;
}

li a {
  display: block;
    color: white;
    font-size: 20pt;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.container{
  width:10000px;
  height:3000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

}

img {
  width: 90%;
}



.interior{
  width: 10px;
  min-height: 10px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

div{
margin: 5px;
padding: 20px;
}

#cell1{
  background-color: hsl(0, 0%, 95%);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#cell2{
  background-color: hsl(0, 0%, 90%);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
#cell3{
  background-color: hsl(0, 0%, 80%);
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}


#cell4{
  background-color: hsl(0, 0%, 70%);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#cell5{
  background-color: hsl(0, 0%, 60%);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
#cell6{
  background-color: hsl(0, 0%, 50%);
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
#cell7{
  background-color: hsl(0, 0%, 40%);
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}


#cell8{
  background-color: hsl(0, 0%, 30%);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
#cell9{
  background-color: hsl(0, 0%, 20%);
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}



#cell10{
  background-color: hsl(0, 0%, 10%);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
#cell11{
  background-color: hsl(0, 0%, 0%);
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}
#cell12{
  background-color: hsl(0, 0%, 90%);
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
}
